<div class="header">
  <ul class="nav nav-pills">
	  <li role="presentation"><a href="default.asp">Home</a></li>
	  <li role="presentation"><a href="news.asp">News</a></li>
	  <li role="presentation"><a href="contact.asp">Contact</a></li>
	  <li role="presentation"><a href="about.asp">About</a></li>
  </ul>
</div>


<div class="main jumbotron">
	<h1>Awesome Portfolio</h1>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">View My Work</a></p>
</div>


<div class="footer"> 
	<div class="container"> 
		<a href="#"><img src="http://cdn.flaticon.com/png/256/23957.png"></a>
        <a href="#"><img src="http://cdn.flaticon.com/png/256/10033.png"></a>
        <a href="#"><img src="http://cdn.flaticon.com/png/256/8707.png"></a>
		<p>&copy; 2015 Gaston Mendez</p> 
	</div> 
</div>