// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
	height: 480px;
	background: url(https://ununsplash.imgix.net/photo-1421284621639-884f4129b61d?q=75&fm=jpg&s=9f9c4eb194b84f49e6c6aa624de61ba2) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  text-align: right;
  display: inline-block;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #fff;
}

.footer img {
	height: 50px;
	width: 50px;
}